* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: 10px auto;
}

.heading-primary {
  font-size: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.heading-secondary {
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}

.heading-tertiary {
  font-size: 24px;
  margin-bottom: 20px;
}
.flex {
  display: flex;
}

.header {
  gap: 60px;
  align-items: center;
  height: 100vh;
}

.header-text-box {
  width: 50%;
}

#left-border {
  border-left: 4px solid tomato;
}
.owner-name {
  display: block;
  margin-left: 0;
}

.color-yellow {
  color: #eea04d;
}

.header-text {
  letter-spacing: 0.6px;
  margin-bottom: 22px;
  font-size: 20px;
}

.header-img-box {
  width: 50%;
  margin-top: -130px;
  text-align: center;
}

.header-img {
  height: 600px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 18px;
  /* text-transform: uppercase; */
  font-weight: 400;
  border-radius: 6px;
  transition: all 0.2s;
}

.btn:active {
  transform: translateY(1px);
}

.btn-header {
  color: #f7f7f7;
  background-color: #ff6b6b;
  margin-bottom: 40px;
}

.btn:hover,
.btn-header:hover {
  background-color: #fa5252;
  cursor: pointer;
}

.section-mission {
  margin-bottom: 96px;
}

.mission-img {
  height: 120px;
}

.mission-content {
  gap: 40px;
}

.mission,
.vision,
.goal {
  border-radius: 15px;
  padding: 30px 20px 40px 30px;
  width: 50%;
}

.mission {
  background-color: #e7f5ff;
}

.vision {
  background-color: #ffdeeb;
}

.goal {
  background-color: #ffe8cc;
}

.section-develop-comminity {
  margin-bottom: 96px;
}

.develop-comminity-container {
  gap: 60px;
  align-items: center;
  position: relative;
}

.margin-bottom {
  margin-bottom: 96px;
}

.left-background::before,
.right-background::before {
  content: '';
  background: url('../images/shapes/shape-1.png') no-repeat center center/cover;
  position: absolute;
  z-index: -1000;
}

.left-background::before {
  width: 250px;
  height: 250px;
  top: 60px;
  left: -90px;
}

.right-background::before {
  width: 200px;
  height: 200px;
  top: 300px;
  right: -90px;
}

.develop-comminity__img-box {
  width: 50%;
}

.develop-comminity__text {
  line-height: 1.7;
  margin-bottom: 20px;
}

.develop-comminity__img {
  height: 430px;
}

.develop-comminity__heading {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-span {
  display: block;
}

.footer {
  background-color: rgb(12, 14, 22);
  text-align: center;
  padding: 40px 20px;
  color: #fff;
}

.footer-large-text {
  font-size: 34px;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

.footer-large-text span {
  color: salmon;
}

.footer-small-text {
  font-size: 14px;
  color: #eee;
  font-weight: 100;
}

.section-contact {
  margin-bottom: 140px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
  padding: 30px 40px 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  padding: 8px;
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid gray;
  width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: #aaa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #eea04d;
}

.btn-form {
  border: none;
  background-color: #fa5252;
  color: #fff;
}

.contact-text{
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 8px;
}